* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  color: #333;
  font-family: "Josefin Sans";
  line-height: 1.5;
}

body {
  padding: 2rem 2.5rem;
  background: linear-gradient(#888, #888 50%, palevioletred 50%, palevioletred)
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: palevioletred;
  margin-bottom: 1rem;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

section + section {
  margin-top: 2rem;
}

li + li {
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.profile {
  text-align: center;
}

.profile img {
  border-radius: 1000px;
  width: 15rem;
  height: 15rem;
}

.profile p {
  color: #888;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.contact ul {
  margin-top: -2rem;
}

.contact li {
  text-align: right;
  text-transform: uppercase;
  padding: 1rem;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  font-size: 0.8rem;
}

.skills > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.skills ul {
  font-size: 2rem;
}

.duration {
  font-size: 1.5rem;
}

.timeline .timeline-item + .timeline-item {
  padding-top: 1rem;
}

.timeline .timeline-item {
  display: grid;
  grid-template-columns: 5ch 1fr;
}

.timeline .content {
  border-left: 1px solid #888;
  padding-left: 2rem;
  margin-left: 2rem;
}

.content > h3 + p {
  margin-bottom: 1rem;
}

.resume {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-gap: 4rem;
  background-color: white;
  padding: 3rem;
  max-width: 1000px;
  margin: auto;
}